<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.carrentalservice.dao.mybatis.CustomerMapperDao">

    <resultMap id="CustomerResult" type="Customer">
        <id property="id" column="id"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="verified" column="verified"/>
        <result property="registeredAt" column="registered_at"/>
    </resultMap>

    <insert id="create" parameterType="Customer" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO customers (first_name, last_name, email, phone, verified, registered_at, rental_service_id)
        VALUES (#{firstName}, #{lastName}, #{email}, #{phone}, #{verified}, #{registeredAt}, 1)
    </insert>

    <select id="findById" resultMap="CustomerResult">
        SELECT * FROM customers WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="CustomerResult">
        SELECT * FROM customers
    </select>

    <update id="update" parameterType="Customer">
        UPDATE customers SET first_name = #{firstName}, last_name = #{lastName},
        email = #{email}, phone = #{phone}, verified = #{verified} WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM customers WHERE id = #{id}
    </delete>

    <select id="findByEmail" resultMap="CustomerResult">
        SELECT * FROM customers WHERE email = #{email}
    </select>

</mapper>
